/* font-family: "Fira Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Fira Sans;
}
/* shared style */
html{
    background-color: #F1F1F3;
}
.border {
    /* border: 1px solid burlywood; */
}

.semi-header {
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
}
.blue{
    background-color: #5490F5;
}
.green{
    background-color: #09A15C;
}
.yellow{
    background-color: #FFC239;
}

.margin {
    margin: 80px 100px;
}
.margin-top{
    margin-top: 14px;
}
.margin-bottom{
    margin-bottom: 14px;
}
.section-header {
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.card-header {
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}

.card-description {
    font-size: 16;
    color: rgba(14, 14, 14, 0.7);
}
/* hero-section */
.hero {
    margin: 24px 100px 0px 100px;
}

.hero-section {
    display: flex;
    gap: 40px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top: 45px;
    height: 500px;
}

.hero ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.nav-btn {
    color: #006A50;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 10px 30px;
}

.hero-content {
    padding: 117px 0px 117px 60px;
}

.hero-img {
    margin-top: 80px;
    margin-bottom: 100px;
}

.hero-content p {
    font-size: 24px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
}

.hero-header {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}

/* pillars style */
.pillars {
    height: 324px;
}

.pillars-col-container {
    height: 244px;
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.pillar {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 12px 24px 24px 24px;
}
/* future style */
.future{
    height: 765px;
}
.future-card-container{
    margin: 32px 0px;
    display: flex;
    gap: 24px;
}
.future-card{
    border: none;
    border-radius: 16px;
    padding: 32px;
}
.future-card p{
    margin: 20px 0px;
}
.card1{
    background-color: rgba(84, 144, 245, 0.2);
}
.card2{
    background-color: #C6E4D6;
}
.card3{
    background-color: #F7EBCF;
}
.yunus{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat; 
    padding: 48px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 180px;
}
/* option style */
.option{
    height: 420px;
}
.question-section{
    background-color: #FFFFFF;
    padding: 32px;
    border: none;
    border-radius: 16px;
}
.question-title{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
.question-content{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}
/* news style */
.news-content{
    padding: 48px;
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 24px;
}
.news-content img{
    border-radius: 24px;
}